<div class="test">
  <h3>Đây là component Home</h3>
  <h1>Trái Cây</h1>
  <table class="table">
    <tr>
      <th>Thứ Tự:</th>
      <th>Name:</th>
      <th>Price:</th>
      <th>Đại Hạ Giá:</th>
    </tr>
    <tr *ngFor="let trai of traiCay; let i = index">
      <td>
        {{ i + 1 }}
      </td>
      <td>{{ trai.name | uppercase }}</td>
      <td class="right">
        <span [ngClass]="{ 'so-am': trai.price < 0 }">{{ trai.price | currency : "VND" :"symbol":"1.3"}}</span>
      </td>
      <td class="center">
        <span>{{trai.haGia | onSale |uppercase}}</span>
      </td>
    </tr>
  </table>
</div>
